MYSQL_PORT=3306
MYSQL_DATABASE=smartstock_ai
MYSQL_USER=smartstock
MYSQL_PASSWORD=replace-with-strong-password
MYSQL_ROOT_PASSWORD=replace-with-another-strong-password

REDIS_PORT=6379
REDIS_PASSWORD=replace-with-strong-password

SMARTSTOCK_PUBLIC_URL=https://limits-easter-sci-opt.trycloudflare.com
SMARTSTOCK_SSH_KEY=/Users/antares2/Downloads/LocalSend/YunUbuntu/id_ed25519
